<div class="container offset-xs-4 col-xs-4 login">
    <div class="text-center">
    <h2>Login</h2>
    </div>
    <form (ngSubmit)="login()">
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" name="username" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Enter username" [(ngModel)]="username">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp"
                placeholder="Enter Password" [(ngModel)]="password">
        </div>
        <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block btn-primary">Login</button>
        </div>
    </form>
</div>